/* Help with space between options */
/* on click change color and submit to server */

.Question {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;

    --purple: #6441A4;
}

.Question-light{
    color:#232127;
}

.Question-dark{
    color:#e5e3e8;
}

.Question header {
    height: 69px;
    width: 100%;
    background-color: var(--purple);
    color: #FFF;
    text-align: center;
    font-weight: 600;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* subheader */
.Question header p{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.Question .questionForm {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.Question .questionForm label {
    font-weight: 600;
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
}

.Question .questionForm .qViewer {
    font-weight: 400;
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
}

.Question .questionForm .option {
    height: 22px;
    width: 251px;
    border: solid black 1px;
    border-radius: 3px;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
