* {
    margin: 0;
    padding: 0;
}
#titlediv
{
    background: purple;
    width: 100%;
    height: 80px;
}
#title {
  color:white;
    font-size: 10px;
    display:flex;
    padding-top:5px;
    padding-right:10px;
}

body {
    background-color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#textdiv
{
    padding-top:138px;
}
#submit{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    border:none;
    height:28px;
    width:204px;
    border-radius: 5px;
    color:black;
}
#name{
    color:purple;
    text-align:center;
}
#enter{
    display:inline-block;
    width: 40px;
}
#form{
    padding-top: 10px;
    display:flex;
    justify-content:center;
}
